img{
    height: 200px;
    width: 350px;
}
body{
    font-family: 'Indie Flower', cursive;
    font-family: 'Shadows Into Light', cursive;
    background-color: antiquewhite;
    margin-left: 30px;
    margin-right: 30px;

}
div.a {
    font-family: 'Indie Flower', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Satisfy', cursive;
}
